@blue: #007bff;
@indigo: #6610f2;
@purple: #6f42c1;
@pink: #e83e8c;
@red: #dc3545;
@orange: #fd7e14;
@yellow: #ffc107;
@green: #28a745;
@teal: #20c997;
@cyan: #17a2b8;
@white: #fff;
@gray: #6c757d;
@gray-dark: #343a40;
@primary: #007bff;
@secondary: #6c757d;
@success: #28a745;
@info: #17a2b8;
@warning: #ffc107;
@danger: #dc3545;
@light: #f8f9fa;
@dark: #343a40;
@breakpoint-xs: 0;
@breakpoint-sm: 576px;
@breakpoint-md: 768px;
@breakpoint-lg: 992px;
@breakpoint-xl: 1200px;

.page-wrap {
  min-width: 960px;
}

header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 84px;
  background: rgba(0, 0, 0, .3);
  .navbar {
    padding-bottom: 0;
    .navbar-brand {
      height: 88px;
      margin: 0;
      padding: 0;
      margin-top: -12px;
      img {
        height: 100%;
        width: 170px;
      }
    }
    .navbar-nav {
      margin-left: 80px;
      padding-top: 34px;
      .nav-item {
        margin-right: 40px;
        a {
          color: #fff !important;
          font-weight: 600;
        }
        &.active a {
          color: @primary !important;
        }
      }

    }
  }
}
.bg-hover {
  overflow: hidden;
}

section {
  min-height: 400px;
  background: #000;
}

#home {
  .zx-btn {
    width: 100px;
    position: absolute;
    cursor: pointer;
    &:hover {
      margin-left: 2px;
    }
  }
  .sec-01 {
    background: url('../img/home/bg_01.jpg');
    background-size: cover;
    .container {
      height: 100%;
      position: relative;
      .txt_01_01 {
        width: 522px;
        position: absolute;
        top: 215px;
        left: 70px;
      }
      .txt_01_02 {
        width: 450px;
        position: absolute;
        top: 415px;
        left: 70px;
      }
      .zx-btn {
        top: 490px;
        left: 70px;
      }
      .pic_01_01{
        position: absolute;
        width: 650px;
        right: 0;
        bottom: 0;
      }
    }
  }
  .sec-02 {
    height: 690px;
    .sub-sec-wp{
      padding: 0;
      padding-top: 60px;
      .sub-sec {
        position: relative;
        overflow: hidden;
        .bg-hover-img {
          width: 100%;
          height: 101%;
        }
        &:nth-child(1) {
          width: 670px;
          height: 560px;
          margin-right: 12px;
          .txt_02_01 {
            width: 318px;
            position: absolute;
            top: 200px;
            left: 90px;
          }
          .zx-btn {
            top: 420px;
            left: 90px;
          }
        }
        &:nth-child(2) {
          width: 448px;
          height: 274px;
          margin-bottom: 12px;
          .txt_02_02 {
            width: 268px;
            position: absolute;
            top: 58px;
            left: 40px;
          }
          .zx-btn {
            top: 190px;
            left: 40px;
          }
        }
        &:nth-child(3) {
          width: 448px;
          height: 274px;
          .txt_02_03 {
            width: 198px;
            position: absolute;
            top: 70px;
            left: 40px;
          }
          .zx-btn {
            top: 168px;
            left: 40px;
          }
        }
      }
    }
  }
  .sec-03 {
    .pic_03{
      height: 510px;
      background: url('../img/home/pic_03_01.jpg') no-repeat;
      background-size: cover;
      padding-top: 120px;
      position: relative;
      .txt_03_01{
        width: 610px;
      }
      .zx-btn {
        top: 380px;
        left: 510px;
      }
    }
  }
  .sec-04 {
    .sec-04-wp {
      height: 980px;
      background: url('../img/home/sec_04.jpg') no-repeat;
      background-size: cover;
      position: relative;
      .btn-01 {
        top: 800px;
        left: 250px;
      }
      .btn-02 {
        top: 800px;
        left: 788px;
      }
    }
  }
}

#abort {
  .sec-01 {
    background: url('../img/abort/bg_01.jpg');
    background-size: cover;
    .container {
      height: 100%;
      position: relative;
      .txt_01_01 {
        width: 580px;
        position: absolute;
        top: 226px;
        left: 0;
      }
      .pic_01_01 {
        width: 700px;
        position: absolute;
        bottom: 10px;
        left: 420px;
      }
    }
  }
  .sec-02 {
    .container {
      .bg_sec {
        width: 100%;
      }
    }
  }
}

#contact {
  .sec-01 {
    background: url('../img/contact/bg_01.jpg');
    background-size: cover;
  }
  .sec-02 {
    .container {
      .bg_sec {
        width: 100%;
      }
    }
  }
}

#shops {
  .sec-01 {
    background: url('../img/shops/bg_01.jpg');
    background-size: cover;
  }
  .sec-02 {
    .container {
      .bg_sec {
        width: 100%;
      }
    }
  }
}

footer {
  height: 180px;
  background: #000;
  overflow: hidden;
  color: @gray;
  hr {
    height: 3px;
    background: #188dca;
  }
  div.clearfix {
    .footer-menu {
      float: right;
      list-style: none;
      li {
        float: left;
        margin-left: 10px;
      }
    }
  }
}
